@page "/bicyclemodels"

<h3>Bicycle Models</h3>

<h5>These are the various types of bicyles we have to offer.</h5>

<img src="/images/image2.png" asp-append-version="true" width="600px" />

@code {

}
