@page "/"
<html>
<head>
<title>Best Cycle Rentals</title>

</head>

<body>

    <div class="background-image">
        <h1>Best Cycle Rentals</h1>
        <h3>We provides the best deals for bicycle rentals</h3>
    </div>

</body>

<style>
    * {
        margin: 0;
        padding-top: 0rem;
    }

    .background-image {
        background-image: url('./images/image3.png');
        background-size: cover;
        background-repeat:no-repeat;
        height: 100vh;
    }
</style>

</html>

