@page "/safetytips"

<h3>Safety Tips</h3>

<h5>Before you set off, please follow these tips to ensure a smooth and safe cycling</h5>

<img src="/images/image1.png" asp-append-version="true" width="600px" />

@code {

}
